<div class="mt-2 py-3 pl-8 bg-white rounded-md min-w-[15vw] min-h-[70vh]">
  <ul class="flex flex-col cursor-pointer text-[15px] text-gray-600">
    <li class="py-2 flex items-center cursor-pointer">Dashboard</li>

    <li class="py-2 pb-5 flex items-center">Products</li>

    <div class="h-[1px] bg-gray-600 m-3 opacity-10"></div>

    <li class="py-2 flex items-center">Order</li>
    <li class="py-2 flex items-center">Reports</li>

    <li
      class="bg-blue-300 bg-opacity-10 cursor-pointer py-2 rounded-sm flex border-r-4 border-blue-500"
    >
      Shipping & Logistics
    </li>

    <div class="h-[1px] bg-gray-600 m-3 opacity-10"></div>

    <li class="py-2 flex items-center">Chat</li>
    <li class="py-2 flex items-center">Settings</li>
    <li class="py-2 flex items-center">Logout</li>
  </ul>
</div>
