<div>
  <div class="bg-gray-200 bg-opacity-30 p-2 text-black mb-2">
    <div class="flex justify-between items-center">
      <div class="flex flex-row gap-3">
        <img
          src="https://placebear.com/640/360"
          class="h-[70px] w-[70px] rounded-md"
          alt=""
        />
        <div>
          <h1 class="text-sm font-boldbold">Huawei Watch Series 4</h1>
          <div class="flex flex-row gap-4 text-gray-500 items-center">
            <h1 class="flex flex-row gap-2">
              <h2>L</h2>
              <h2>40cm</h2>
            </h1>
            <h1 class="flex flex-row gap-2">
              <h2>W</h2>
              <h2>23cm</h2>
            </h1>
            <h1 class="flex flex-row gap-2">
              <h2>H</h2>
              <h2>45cm</h2>
            </h1>
          </div>
          <h1 class="text-gray-500">15 items</h1>
        </div>
      </div>

      <div>$250.00</div>
    </div>
  </div>
</div>
