<div
  class="border-2 border-gray-300 border-opacity-50 rounded-lg text-gray-gray-500 shadow-sm"
>
  <div class="grid grid-cols-2 p-1 gap-5">
    <h1 class="font-light">Total Price</h1>
    <h1 class="text-black flex flex-row gap-1 text-bold">
      <span>$</span>
      <span>50.68</span>
    </h1>
  </div>
  <div class="grid grid-cols-2 p-1 gap-5">
    <h1 class="font-light">Price VAT</h1>
    <h1 class="text-black flex flex-row gap-1 text-bold">
      <span>$</span>
      <span>50.68</span>
    </h1>
  </div>
  <div class="grid grid-cols-2 p-1 gap-5">
    <h1 class="font-light">Service name</h1>
    <h1 class="text-black text-bold">Euro Business Parcel</h1>
  </div>
  <div class="grid grid-cols-2 p-1 gap-5">
    <h1 class="font-light">Carrier</h1>
    <h1 class="text-black flex flex-row gap-1 text-bold">
      <span>$</span>
      <span>GLS</span>
    </h1>
  </div>
  <div class="grid grid-cols-2 p-1 gap-5">
    <h1 class="font-light">Pick up</h1>
    <h1 class="text-black flex flex-row gap-1 text-bold">Yes</h1>
  </div>
  <div class="grid grid-cols-2 p-1 gap-5">
    <h1 class="font-light">Delivery</h1>
    <h1 class="text-blac flex flex-row gap-1 text-bold">Yes</h1>
  </div>
  <div class="grid grid-cols-2 p-1 gap-5">
    <h1 class="font-light">Delivery ETA</h1>
    <h1 class="text-black flex flex-row gap-1 text-bold">
      <span>1-4</span>
      <span>days</span>
    </h1>
  </div>
</div>
